In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
csv_df = pd.read_csv('data/csv_file.csv')
txt_df = pd.read_csv('data/txt_file.txt')
#check columns are same
assert(sorted(csv_df.columns)==sorted(txt_df.columns))
#check sizes
assert(txt_df.shape==csv_df.shape)
combined_df = pd.concat([csv_df,txt_df])
combined_df.shape
#check for duplicates
assert(combined_df[combined_df.duplicated(keep=False)].empty)
combined_df.head(4)

c:\users\wburke\projects\venv36\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

(2000, 9)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,location.latitude,location.longitude,properties.platform,properties.sentiment
0,1689,22566.0,False,Can't believe I'm missing Love Island üò©,GB,51.570448,0.457135,twitter,1.0
1,114,1377.0,False,Last tweet about future wedding..... if I actu...,GB,52.969744,-1.172266,twitter,1.0
2,568,8375.0,False,"How many times does he wonna say the phrase ""i...",GB,51.394369,0.026299,twitter,-1.0
3,1845,19394.0,False,...even better if time travel were invented an...,GB,51.648544,-3.804292,twitter,-1.0

In [3]:
import json
from pandas.io.json import json_normalize    

with open('data/json_file.json') as data_file:    
    json_df = json_normalize(json.load(data_file))

#check columns are same
assert(sorted(csv_df.columns)==sorted(json_df.columns))
#check sizes
assert(txt_df.shape==json_df.shape)

combined_df = pd.concat([combined_df,json_df]).reset_index(drop=True)
combined_df.shape
combined_df.head()

(3000, 9)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,location.latitude,location.longitude,properties.platform,properties.sentiment
0,1689,22566.0,False,Can't believe I'm missing Love Island üò©,GB,51.570448,0.457135,twitter,1.0
1,114,1377.0,False,Last tweet about future wedding..... if I actu...,GB,52.969744,-1.172266,twitter,1.0
2,568,8375.0,False,"How many times does he wonna say the phrase ""i...",GB,51.394369,0.026299,twitter,-1.0
3,1845,19394.0,False,...even better if time travel were invented an...,GB,51.648544,-3.804292,twitter,-1.0
4,1617,17922.0,False,@GreenAlty @ShakeyStephens My Mum in mid 80s p...,GB,53.543471,-2.653238,twitter,0.0

In [4]:
combined_df.loc[53,'content.body']

'Thought this was a pretty cool photo I got of Drew today üòÇü§îüíÅüèª https://t.co/MTNJfJgQoz'

In [21]:
from text_preprocessing import *
csv_df = pd.read_csv('data/csv_file.csv')

for index, row in csv_df[csv_df['properties.sentiment']==1].head(30).iterrows():
    print('\n',index,':',preprocess_text(row['content.body']))
    print(row['properties.sentiment'],':',row['content.body'])

 0 : cannot believe i am missing love island weary face
1 : Can't believe I'm missing Love Island üò©

 1 : last tweet about future wedding if i actually want a wedding i actually need to find a guy funny we all know i am a loner unlovable
1 : Last tweet about future wedding..... if I actually want a wedding I actually need to find a guy XD we all know I'm a loner. unlovable

 6 : folk at level ## running around in reaper mariachi skins and i am level ## with fuck aw
1 : Folk at level 12 running around in Reaper mariachi skins and I'm level 30 with FUCK AW

 14 : ## ## bst experimental forecast for the next ## hours fairly fine showery later
1 : 21:57 BST: Experimental forecast for the next 12 hours: Fairly fine, showery later

 16 : lit me and uservariable url
1 : Lit me and @Orange_Peels https://t.co/blxTupgHFn

 25 : uservariable just lay in my coffin for a few hours whilst watching prison break
1 : @Barlow96 just lay in my coffin for a few hours whilst watching prison break

 34 : i love my london life url
1 : I love my London life https://t.co/HrXgrK5gma

 35 : uservariable that was a really good watch great team great players and as you say great manager sheringham looks like he hasnt aged exclamation
1 : @tobyperkinsmp that was a really good watch, great team, great players and as you say great manager. Sheringham looks like he hasn‚Äôt aged!

 48 : new music alert url
1 : New Music Alert  https://t.co/nDKbwFcD7d

 58 : uservariable er than what
1 : @dragon4758 er...than what?

 59 : uservariable love this exclamation exclamation exclamation kisses x
1 : @leahgibsonxo love this!!! xoxox

 61 : eric's wife and daughter dies with one arrow double kill face with tears of joy
1 : Eric's Wife and daughter dies with one arrow, Double kill üòÇ

 62 : uservariable drinkwater is a much better player than a fit henderson or barkley and could have provided so much for vardy thanks roy exclamation exclamation
1 : @WestHam_Central  Drinkwater is a much better player than a fit Henderson or Barkley and could have provided so much for Vardy  Thanks Roy!!

 66 : uservariable uservariable curiosity has peaked exclamation exclamation
1 : @BodaciousChase @Baphometta_ curiosity has peaked!!

 67 : uservariable uservariable uservariable uservariable huge celebs at bs linwood barclay last year stewart bain this year exclamation exclamation
1 : @_Stewart_Bain @BloodyScotland @Lin_Anderson @doug_johnstone  Huge Celebs at BS, Linwood Barclay last year Stewart Bain this year!!

 68 : le voy a decir a la gente que extrao que la extrao
1 : le voy a decir a la gente que extra√±o, que la extra√±o.

 76 : lol i am in a well good mood
1 : Lol I'm in a well good mood

 77 : not looking forward to an early start tomorrow
1 : Not looking forward to an early start tomorrow

 87 : massive happy birthday to uservariable have a good one exclamation exclamation party popper blue heart
1 : Massive happy birthday to @Il0vevic have a good one!! üéâüíô

 88 : night night ma lifesavers uservariable uservariable uservariable uservariable uservariable growing heart growing heart growing heart growing heart red heart red heart red heart red heart love ye's so much xxxxxxxxxxxxxxxxxxxx
1 : Night night ma lifesavers @itsDannyJones @TomFletcher @mcflyharry @DougiePoynter @mcflymusic üíóüíóüíóüíó‚ù§‚ù§‚ù§‚ù§ love ye's so much xxxxxxxxxxxxxxxxxxxx

 92 : photography is so beautiful smiling face with heart eyes
1 : Photography is so beautiful üòç

 95 : taylor swift and calvin harris have broken up
1 : Taylor Swift and Calvin Harris have broken up... #DoIHearANewAlbun

 100 : uservariable any idea what time you are flying out tomorrow morning
1 : @tisnees any idea what time you're flying out tomorrow morning?

 115 : uservariable happy birthday you legend
1 : @I_Skream happy birthday u legend

 125 : uservariable thanks for such an insightful post exclamation am sharing with my extended family members happy
1 : @SheaCompanions Thanks for such an insightful post! Am sharing with my extended family members :)

 132 : uservariable this saturday
1 : @Ellehardman95 this Saturday?

 136 : uservariable yesss absolutely i want iyaz and taoi cruz me
1 : @Shanegreen_ yesss absolutely, I want Iyaz and Taoi Cruz me

 138 : i really should not be going to sleep in my fleecy pjs in june june snowflake
1 : I really shouldn't be going to sleep in my fleecy pjs in June, JUNE ‚ùÑÔ∏è

 139 : uservariable thanks for the follow always great to connect find out more url url
1 : @A_Jax Thanks for the follow. Always great to connect find out more https://t.co/5MTzsZqvvN https://t.co/EnQkuEV9Br #BritainHasSpirit

 140 : uservariable my day made
1 : @_Bennehh My day = made

In [10]:
preprocess_text('ÿßŸÑŸÖŸÅÿ±Ÿàÿ∂ ÿØÿßŸÖ ŸÖÿßŸÑŸä ÿÆŸÑŸÇ ŸÖÿß ÿßÿØÿÆŸÑ ŸáŸÜÿß ÿÆŸäÿ± Ÿäÿß ÿßŸÜÿß ÿü ÿßÿ∑ŸÑÿπŸä ÿßÿ∑ŸÑÿπŸä')

''

In [13]:
re.sub(r'\*+', '*', 'hiiiii')

'hiiiii'

In [20]:
re.sub(r'(.)\1+', r'\1\1', 'foood')

'food'