In [66]:
import pandas as pd
import numpy as np 
import nltk
from nltk.corpus import stopwords 
nltk.download('stopwords')

from utils import *
from text_preprocessing import *

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\WBurke\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [32]:
combined_df = preprocess_values(load_combined_df())
combined_df.head()

df shape:  (3000, 9)

rows with null values:  Int64Index([1551, 1552], dtype='int64')
rows that arent twitter:  1

dropped one row, fixed other null by dropping platform col, as unneeded

type of friends col:  int32

 country breakdown:  GB    2991
GG       5
JE       2
IM       1
Name: location.country, dtype: int64

df shape:  (2999, 8)

,author.properties.friends,author.properties.status_count,author.properties.verified,content.body,location.country,location.latitude,location.longitude,properties.sentiment
0,1689,22566.0,False,Can't believe I'm missing Love Island ðŸ˜©,GB,51.570448,0.457135,1.0
1,114,1377.0,False,Last tweet about future wedding..... if I actu...,GB,52.969744,-1.172266,1.0
2,568,8375.0,False,"How many times does he wonna say the phrase ""i...",GB,51.394369,0.026299,-1.0
3,1845,19394.0,False,...even better if time travel were invented an...,GB,51.648544,-3.804292,-1.0
4,1617,17922.0,False,@GreenAlty @ShakeyStephens My Mum in mid 80s p...,GB,53.543471,-2.653238,0.0

In [70]:
nlp_df = normalize(encode_labels(combined_df.drop(['location.country','location.latitude','location.longitude'],axis=1),['author.properties.verified']),['author.properties.friends','author.properties.status_count'])
nlp_df['content.body'] = nlp_df['content.body'].apply(lambda x: preprocess_text(x))

combined_df.loc[5,'content.body']
nlp_df.loc[5,'content.body']
combined_df.loc[20,'content.body']
nlp_df.loc[20,'content.body']

def tokenize(text):
    stops = set(stopwords.words('english') + ['uservariable ','url'])
    return [token for token in text.split() if token not in stops]

tokenize(nlp_df.loc[20,'content.body'])
nlp_df['content.body'] = nlp_df['content.body'].apply(lambda x: tokenize(x))

encoded: author.properties.verified

'@sarahann_jones @heatherpeace @seachell74 @HP_Community @cocacolagirl35 factor 30 this year lesson learnt tee hee X'

'uservariable uservariable uservariable uservariable uservariable factor ## this year lesson learnt tee hee x'

'Ooh I understand now ðŸ˜‚ðŸ˜‚ https://t.co/8HcNvxvqP0'

'ooh i understand now url'

['ooh', 'understand']